<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/mainStyles.css">
    <title>Животные</title>
</head>
<body>
<div class="container">
    <div class="category-items">
        <h2 class="nature">Звуки природы</h2>
        <div class="playing-items">
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front" style="background-image: url('../images/Вьюга.jpeg'); background-size: cover">
                        <img src="../images/Вьюга.jpeg" alt="">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/naturelSounds/вьюга.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front" style="background-image: url('../images/гром.jpeg'); background-size: cover">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/naturelSounds/гром.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front long" style="background-image: url('../images/сильный дождь.jpeg')">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/naturelSounds/сильный дождь.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front long" style="background-image: url('../images/Снег.jpeg'); background-size: cover">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/naturelSounds/шаги по снегу.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="footer">
    <div class="go-back">
        <div class="arrow">
            <a href="../index.html">
                <img src="../images/klipartz.com.png" alt="">
            </a>
        </div>
        <div>
            <a href="../index.html">Вернуться в главное меню</a>
        </div>
    </div>

    <div class="rights">
        <div>Tatiana Boyraz</div>
        <div> © Все права защищены / 2024</div>
    </div>

</footer>
</body>
</html>