<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/mainStyles.css">
    <title>Разные звуки</title>
</head>
<body style="background-color: #44a7a7fc" >
<div class="container">
    <div class="category-items">
        <h2>Звуки предметов</h2>
        <div class="playing-items">
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front">
                        <img src="../images/dice_.jpeg" alt="dice">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/odinochnyiy-kubik.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front">
                        <img src="../images/alarm .jpeg" alt="alarm">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/alarm.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box" >
                    <div class="image-front" style="background-image: url('../images/Car.jpeg'); background-size: cover">
                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/звук машины.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front" style="background-image: url('../images/Signalization.jpeg'); background-size: cover">

                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/сигнализация.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front long" style="background-image: url('../images/Car on ban.jpeg'); background-size: cover">

                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/silnoe-dvizhenie-po-shoss.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front long" style="background-image: url('../images/PencilSharpener.jpeg'); background-size: cover">

                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/tochilka-dlya-karandashey-mehanicheskaya-30295.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front" style="background-image: url('../images/listpaper.jpeg'); background-size: cover">

                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/perelistyivanie-stranits-38454.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="playing-item">
                <div class="image-box">
                    <div class="image-front long" style="background-image: url('../images/paperDamage.jpeg'); background-size: cover">

                    </div>
                    <div class="back"></div>
                </div>
                <div>
                    <audio controls>
                        <source src="../sounds/subjuctSounds/razryiv-bumagi4.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="go-back">
        <div class="arrow">
            <a href="../main.html">
                <img src="../images/klipartz.com.png" alt="">
            </a>
        </div>
        <div>
            <a href="../main.html">Вернуться в главное меню</a>
        </div>
    </div>

    <div class="rights">
        <div>Tatiana Boyraz</div>
        <div> © Все права защищены / 2024</div>
    </div>

</footer>
</body>
</html>